<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" onclick="getCharacterDetails(1)">Luke Skywalker</li>
      <li class="list-group-item" onclick="getCharacterDetails(2)">C3PO</li>
      <li class="list-group-item" onclick="getCharacterDetails(3)">R2-D2</li>
      <li class="list-group-item" onclick="getCharacterDetails(4)">Darth Vader</li>
      <li class="list-group-item" onclick="getCharacterDetails(5)">Leia Organa</li>
    </ul>
  </div>
</div>
